

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}

h1{
    font-size: 1.5rem;
    color: whitesmoke; 
    margin-top: 3rem;   
}

body{
    background-color: rgb(92, 92, 157)
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    color: rgb(92, 92, 157)1;
    text-decoration: none;
    transition: all
}

.container-proto{
    display: flex; 
    margin-top: 5%; 
}

@media screen and (min-width: 1000px){
    .container{
        display: flex; 
        height: 70vh; 
        width: 50vw;
        margin: auto; 
        background-color:rgb(30, 30, 95);
        border-radius: 25px;
        color: whitesmoke; 
        align-items: center;
        flex-direction: column;

    }
   
    .pop-up{
        display: grid;
        height: 35vh; 
        width: 45vw; 
        grid-gap: 1rem;
        justify-content: space-around;
        padding: 2rem;
        grid-template-columns: repeat(6, 1fr);
        align-content: stretch;
        grid-template-areas: "one one two two three three" 
        "four four four five five five";
    }
}

@media screen and (max-width: 1000px){

    .container{
        display: flex; 
        height: 120vh; 
        width: 50vw;
        margin: auto; 
        background-color:rgb(30, 30, 95);
        border-radius: 25px;
        color: whitesmoke; 
        align-items: center;
        flex-direction: column;
    }
    .pop-up{
        display: grid;
        height: 35vh; 
        width: 45vw; 
        grid-gap: 1rem;
        justify-content: space-around;
        padding: 2rem;
        grid-template-columns: repeat(2, 1fr);
        align-content: stretch;
        grid-template-areas: "one one" "two two" "three three" 
        "four four" "five five";
    }

}

@media screen and (max-width: 850px){
    .pop-up{
        display: grid;
        height: 35vh; 
        width: 45vw; 
        grid-gap: 1rem;
        justify-content: space-around;
        padding: 2rem;
        grid-template-columns: repeat(2, 1fr);
        align-content: stretch;
        grid-template-areas: "one one" "two two" "three three" 
        "four four" "five five";
    }


    .container{
        display: flex; 
        height: 120vh; 
        width: 50vw;
        margin: auto; 
        background-color:rgb(30, 30, 95);
        border-radius: 25px;
        color: whitesmoke; 
        align-items: center;
        flex-direction: column;

    }

}
@media screen and (max-width: 650px){
    .pop-up{
        display: grid;
        height: 37vh; 
        width: 45vw; 
        grid-gap: 1rem;
        justify-content: space-around;
        padding: 2rem;
        grid-template-columns: repeat(2, 1fr);
        align-content: stretch;
        grid-template-areas: "one one" "two two" "three three" 
        "four four" "five five";
    }


    .container{
        display: flex; 
        height: 135vh; 
        width: 50vw;
        margin: auto; 
        background-color:rgb(30, 30, 95);
        border-radius: 25px;
        color: whitesmoke; 
        align-items: center;
        flex-direction: column;

    }

}

@media screen and (max-width: 350px){
    .pop-up{
        display: grid;
        height: 37vh; 
        width: 45vw; 
        grid-gap: 1rem;
        justify-content: space-around;
        padding: 2rem;
        grid-template-columns: repeat(2, 1fr);
        align-content: stretch;
        grid-template-areas: "one one" "two two" "three three" 
        "four four" "five five";
    }


    .container{
        display: flex; 
        height: 145vh; 
        width: 50vw;
        margin: auto; 
        background-color:rgb(30, 30, 95);
        border-radius: 25px;
        color: whitesmoke; 
        align-items: center;
        flex-direction: column;

    }

}
.element-style{
    border: whitesmoke;
    border-radius: 25px;
    border-style: solid; 
    border-width: .2rem;
    padding: 1rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
    text-align: center;
    min-width: 0; 

}

.element-style:hover{
    box-shadow: 1px 2px 2px 3px rgb(92, 92, 157);
}

#balance{
    grid-area: one;
    display: flex;

    

}

#deposit{
    grid-area:two;
    display: flex;
}

#withdraw{

    grid-area:three;
    display: flex;

}


#change{
    grid-area:four;
    display: flex;

}

#logout{
    grid-area:five;    
    display: flex;

}


.line{
    display: block;
    border-width:.05px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    margin-left: 2vw; 
    margin-right: 2vw; 
    height: 1vh; 
    overflow: hidden;
    width: 80%;
}